<div class="container">
<!--  <div class="card-deck">-->
    <app-product class="card-group row g-4"></app-product>
<!--  </div>-->
</div>


<!--<h1 class="display-4">-->
<!--  Welcome! {{title | uppercase}} <i class="bi bi-activity"></i>-->
<!--</h1>-->

<!--<div class="form-group">-->
<!--  <label for="">Nane</label>-->
<!--  <input type="text"-->
<!--         [(ngModel)]="fullName"-->
<!--         (keyup.enter)="onClick($event)"-->
<!--         class="form-control"-->
<!--         name=""-->
<!--         id=""-->
<!--         aria-describedby="helpId"-->
<!--         placeholder=""-->
<!--  >-->
<!--  <small id="helpId" class="form-text text-muted">Help text</small>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <p>{{450 | currency:'INR'}}</p>-->
<!--  <p></p>-->
<!--  <p></p>-->
<!--  <p></p>-->
<!--</div>-->
<!--<button type="button" class="btn btn-primary" (click)="onVup($event)">Vote Up</button>-->
